[submodule "ckan"]
	path = ckan
	url = git@github.com:ckan/ckan.git
[submodule "ckanext-spectrum"]
	path = ckanext-spectrum
	url = git@github.com:fjelltopp/ckanext-spectrum.git
[submodule "ckanext-emailasusername"]
	path = ckanext-emailasusername
	url = git@github.com:fjelltopp/ckanext-emailasusername
