[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[packages]
alembic = "==1.0.0"
bleach = "==3.1.4"
blinker = "==1.4"
click = "==7.1.2"
dominate = "==2.4.0"
feedgen = "==0.9.0"
flask-multistatic = "==1.0"
passlib = "==1.6.5"
polib = "==1.0.7"
psycopg2 = "==2.8.2"
python-magic = "==0.4.15"
pysolr = "==3.6.0"
python-dateutil = ">=1.5.0"
pytz = "==2016.7"
"repoze.who" = "==2.3"
requests = "==2.25.1"
rq = "==1.0"
simplejson = "==3.10.0"
sqlparse = "==0.2.2"
tzlocal = "==1.3"
webassets = "==0.12.1"
Babel = "==2.7.0"
Beaker = "==1.11.0"
Flask = "==1.1.1"
Flask-Babel = "==1.0.0"
Jinja2 = "==2.10.1"
PyJWT = {version = "==2.1.0",extras = ["crypto"]}
Markdown = "==2.6.7"
PyUtilib = "==5.7.1"
PyYAML = "==5.4.1"
SQLAlchemy = "==1.3.5"
Werkzeug = {version = "==1.0.0", extras = ["watchdog"]}
uWSGI = "==2.0.19.1"
certifi = "==2020.4.5.1"
cffi = "==1.14.0"
chardet = "==3.0.4"
giftless-client = "==0.1.1"
idna = "==2.9"
pycparser = "==2.20"
six = "==1.14.0"
typing-extensions = "==3.7.4.1"
typing = "==3.7.4.1"
urllib3 = "==1.25.9"
fanstatic = "==1.1"
sqlalchemy-migrate = "==0.12.0"
unicodecsv = ">=0.9"
Routes = "==1.13"
PasteDeploy = "==2.0.1"
watchdog = "==2.1.5"
zope = {interface = "==4.3.2"}
ckanext-sentry = {ref = "0.1.0", git = "https://github.com/fjelltopp/ckanext-sentry"}
ckanext-authz-service = {editable = true, ref = "bd4c80f55a714c1117a0e130d07463e383c494c7", git = "https://github.com/datopian/ckanext-authz-service"}
ckanext-blob-storage = {editable = true, ref = "5b2f59217e8f88a3f2cdb9dc50bf4099d9abe0de", git = "https://github.com/fjelltopp/ckanext-blob-storage"}
ckanext-scheming = {editable = true, ref = "899a3bce5f5ac05bd4e612213ec9138b536f3076", git = "https://github.com/ckan/ckanext-scheming.git"}
# Markupsafe and isdangerous downgraded because of dependencies issue
markupsafe = "==2.0.1"
itsdangerous = "==2.0.1"
# Install packages under active development in editable mode
ckan = {path = "./ckan", editable = true}
ckanext-spectrum = {path = "./ckanext-spectrum", editable = true}


[dev-packages]
beautifulsoup4 = "*"
coveralls = "*"
docutils = "*"
factory-boy = "*"
freezegun = "*"
ipdb = "*"
responses = "*"
pycodestyle = "*"
pip-tools = "*"
sphinx-rtd-theme = "*"
cookiecutter = "*"
pytest = "*"
pytest-split-tests = "*"
pytest-cov = "*"
pytest-freezegun = "*"
pytest-rerunfailures = "*"
towncrier = "*"
Flask-DebugToolbar = "*"
Sphinx = "*"
ckanapi = "*"
rarfile = "*"
slugify = "*"
pydevd-pycharm = "*"
twine = "*"
mock = "*"
pyfakefs = "*"
pytest-ckan = "*"
requests = "*"
zxcvbn = "*"

